@font-face {
  font-family: 'icomoon';
  src:  url('../Fonts/Font-Icon/Icomoon.eot?jz0ci0');
  src:  url('../Fonts/Font-Icon/Icomoon.eot?jz0ci0#iefix') format('embedded-opentype'),
    url('../Fonts/Font-Icon/Icomoon.ttf?jz0ci0') format('truetype'),
    url('../Fonts/Font-Icon/Icomoon.woff?jz0ci0') format('woff'),
    url('../Fonts/Font-Icon/Icomoon.svg?jz0ci0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\f1f8";
}
.icon-edit:before {
  content: "\f040";
}
.icon-checkmark:before {
  content: "\e900";
}